<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @tinypost.content %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @tinypost.userID %>
</p>

<%= link_to 'Edit', edit_tinypost_path(@tinypost) %> |
<%= link_to 'Back', tinyposts_path %>
